<div class="profile">

    <div class="title">
        <img src="../../../assets/profil/profile.png" alt="">
        <h1>Próba Péter
        </h1>
        <p>(Peti)
        </p>
    </div>

    <div class="személyes-adatok">

        <app-title-bar [img]="[img[0]]" [text]="[text[0]]"></app-title-bar>



        <div>
            <img src="../../../assets/profil/cake.svg" alt="">
            <p>1990.május 4.</p>
        </div>
        <div>
            <img src="../../../assets/profil/house.svg" alt="">
            <p>Magyarország</p>
        </div>
        <div>
            <img src="../../../assets/profil/man.svg" alt="">
            <p>Férfi</p>
        </div>

    </div>

    <div class="elérhetőségek">

        <app-title-bar [img]="[img[1]]" [text]="[text[1]]"></app-title-bar>



        <div>
            <img src="../../../assets/profil/phone.svg" alt="">
            <p>+36-30/12-34-567</p>
        </div>

        <div>
            <img src="../../../assets/profil/mail.svg" alt="">
            <p>Próprobapeter@gmail.com </p>
        </div>

    </div>

    <div class="kedvenc-sportok">

        <app-title-bar [img]="[img[2]]" [text]="[text[2]]"></app-title-bar>


        <div class="flex">

            <div>
                <img src="../../../assets/profil/basketball.svg" alt="">
                <p>Kosárlabda
                </p>
            </div>

            <div>
                <img src="../../../assets/profil/footBall.svg" alt="">
                <p>Football
                </p>
            </div>

            <div>
                <img src="../../../assets/profil/handball.svg" alt="">
                <p>Kézilabda
                </p>
            </div>

        </div>
    </div>

    <div class="sportesemények">

        <app-title-bar [img]="[img[3]]" [text]="[text[3]]"></app-title-bar>

        <div class="flex">

            <p>Budapest</p>
            <p>Szolnok</p>
            <p>Debrecen</p>
            <p>Magyarország</p>
            <p>Franciaország</p>

        </div>

    </div>

    <div class="bemutatkozás">
        <app-title-bar [img]="[img[4]]" [text]="[text[4]]"></app-title-bar>

        <div class="main">

            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
                assumenda est, omnis dolor repellendus. Temporibus autem quibu debitis aut rerum necessitatibus saepe
                eveniet perfere asperoio riodontndis doloribus asperior es fraloove fe vepellat. Temporibus autem quibu
                debitis aut rerum necessitatibus saepe eveniet perfere asperoio riodontndis doloribus asperior es
                repellat.</p>

        </div>

    </div>

</div>