<div class="{{size}}">

    <img src="../../../assets/cards/profile-image.png" alt="">

    <div class="card-main">

        <div class="title">
            <img src="../../../assets/cards/profile.png" alt="">
            <h2>AZ ÉV EGYIK LEGMEGHATÁROZÓBB MÉRKŐZÉSE A 21. SZÁZADBAN, A...</h2>
        </div>

        <p>Exercitation tempor irure commodo ad sunt ut ea culpa eiusmod amet fugiat. Ullamco deserunt pdeserunt
            pdeserunt pdesmoderunt parommodo et. Minim exercitation quis laborum ation quis ur officia noteur
            reprehenderit et dolo...</p>

        <app-card-title class="card-title"></app-card-title>

    </div>



</div>