<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
</style>

<header>


    <div class="first-flex">

        <img class="hamburger" src="../../../assets/header/hamburger.png" alt="">
        <img class="mobile-logo" src="../../../assets/header/mobile-logo.png" alt="">
        <img class="logo" src="../../../assets/header/logo.png" alt="">
        <ul>
            <li><img src="../../../assets/header/microphone.png" alt=""> <a href="">Interjúk</a> </li>
            <li><img src="../../../assets/header/profile.png" alt=""> <a href="">Portrék</a> </li>
            <li><img src="../../../assets/header/analysis.png" alt=""> <a href="">Elemzések</a> </li>
            <li><img src="../../../assets/header/book.png" alt=""> <a href="">Kultúra</a> </li>
        </ul>

    </div>

    <div class="last-flex">

        <div>
            <img src="../../../assets/header/search.png" alt="">
        </div>
        <div>
            <img src="../../../assets/header/message.png" alt="">
        </div>
        <div>
            <img src="../../../assets/header/bell.png" alt="">
        </div>
        <div>
            <img src="../../../assets/header/info.png" alt="">
        </div>

        <div>
            <img src="../../../assets/header/settings.png" alt="">
            <img src="../../../assets/header/profile-img.png" alt="">
        </div>

    </div>

    <div class="app-search-bar"></div>


</header>