<div class="login">

    <div class="title">

        <h1>Üdv újra!</h1>
        <p>Lépj be a fiókodba</p>

    </div>

    <div class="gutton-group">

        <button class="registration-button">Regisztráció</button>
        <button class="login-button">Belépés</button>

    </div>

    <div class="inputs">
        <div class="Email">

            <input type="text" placeholder="probapeter l 1 234 @ gmail. corr">
            <p>Hibás e-mail cím</p>

        </div>

        <div class="password">

            <input type="text" placeholder="Jelszó">
            <img (click)="changePasswordType()" src="../../../assets/login/eye.svg" alt="">

        </div>

        <p class="forgot-password">Elfelejtetted a jelszavad?</p>

    </div>

    <div class="remember-me">

        <div>
            <div (click)="remember()"></div>
        </div>

        <p>Emlékezz rám</p>

    </div>

    <button class="submit">Bejelentkezés</button>

    <div class="separator">

        <span></span>
        <p>vagy</p>
        <span></span>

    </div>

    <div class="login-footer">

        <div>
            <img src="../../../assets/login/facebook.svg" alt="">
        </div>

        <div>
            <img src="../../../assets/login/gmail.svg" alt="">
        </div>

    </div>

</div>