<footer>

    <div class="footer-top-image">

        <img src="../../../assets/footer-component/frame.svg" alt="">

    </div>

    <div class="footer-container">

        <div class="grid-area">

            <div class="div1">
                <h2>Tartalom</h2>

                <p>Sportágak</p>
                <p> Euro 2021</p>
                <p>Rovatok</p>
                <p>Portrék</p>
                <p>Toplisták</p>
                <p>Történelem</p>
                <p>Kultúra</p>
                <p>Podcast</p>
                <p>Interjúk</p>
                <p>Elemzések</p>
                <p> Saját profil</p>

            </div>
            <div class="div2">
                <h2>Fedezd fel</h2>

                <p>Szponzorált tartalom</p>
                <p>Kiemelt cikkek</p>
                <p>Szerzői profilok</p>
                <p>Fórum</p>
                <p>Chat</p>

            </div>
            <div class="div3">

                <h2>Rólunk</h2>

                <p>Impresszum</p>
                <p>Szerzői jogok</p>
                <p>Csapat</p>
                <p>Kapcsolat</p>

            </div>
            <div class="div4">

                <h2>Kövess minket</h2>

                <div>
                    <div> <img src="../../../assets/footer-component/facebook.svg" alt=""></div>
                    <div> <img src="../../../assets/footer-component/instagram.svg" alt=""></div>
                    <div> <img src="../../../assets/footer-component/youtube.svg" alt=""></div>
                    <div> <img src="../../../assets/footer-component/cloud.svg" alt=""></div>
                    <div> <img src="../../../assets/footer-component/host.svg" alt=""></div>
                </div>

            </div>

        </div>

        <div class="advertising">

            <img src="../../../assets/footer-component/image.png" alt="">

        </div>

        <div class="newsletter">

            <app-newsletter></app-newsletter>

        </div>

    </div>

    <div class="footer-bottom">

        <div>
            <p>Süti kezelés</p>
            <p>ÁSZF</p>
            <p>Adatvédelmi nyilatkozat</p>
        </div>

        <div>
            <img src="../../../assets/footer-component/C.svg" alt="">
            <p> 2021 Büntető.com</p>
        </div>

    </div>

</footer>