<footer>

    <div class="footer-top-image">

        <img src="../../../assets/footer-component/frame.svg" alt="">

    </div>

    <div class="footer-container">

        <div class="grid-area">

            <div class="div1">
                <h2>Tartalom</h2>

                <a href="#">Sportágak</a>
                <a href="#"> Euro 2021</a>
                <a href="#">Rovatok</a>
                <a href="#">Portrék</a>
                <a href="#">Toplisták</a>
                <a href="#">Történelem</a>
                <a href="#">Kultúra</a>
                <a href="#">Podcast</a>
                <a href="#">Interjúk</a>
                <a href="#">Elemzések</a>
                <a href="#"> Saját profil</a>

            </div>
            <div class="div2">
                <h2>Fedezd fel</h2>

                <a href="#">Szponzorált tartalom</a>
                <a href="#">Kiemelt cikkek</a>
                <a href="#">Szerzői profilok</a>
                <a href="#">Fórum</a>
                <a href="#">Chat</a>

            </div>
            <div class="div3">

                <h2>Rólunk</h2>

                <a href="#">Impresszum</a>
                <a href="#">Szerzői jogok</a>
                <a href="#">Csapat</a>
                <a href="#">Kapcsolat</a>

            </div>
            <div class="div4">

                <h2>Kövess minket</h2>

                <div>
                    <div> <img src="../../../assets/footer-component/facebook.svg" alt=""></div>
                    <div> <img src="../../../assets/footer-component/instagram.svg" alt=""></div>
                    <div> <img src="../../../assets/footer-component/youtube.svg" alt=""></div>
                    <div> <img src="../../../assets/footer-component/cloud.svg" alt=""></div>
                    <div> <img src="../../../assets/footer-component/host.svg" alt=""></div>
                </div>

            </div>

        </div>

        <div class="advertising">

            <img src="../../../assets/footer-component/image.png" alt="">

        </div>

        <div class="newsletter">

            <app-newsletter></app-newsletter>

        </div>

    </div>

    <div class="footer-bottom">

        <div>
            <p>Süti kezelés</p>
            <p>ÁSZF</p>
            <p>Adatvédelmi nyilatkozat</p>
        </div>

        <div>
            <img src="../../../assets/footer-component/C.svg" alt="">
            <p> 2021 Büntető.com</p>
        </div>

    </div>

</footer>