* {
    display: flex;
    font-weight: 700;
}

.search-bar {
    justify-content: space-between;
    width: 100%;
    height: 85px;
    background: rgba(0, 102, 51, 1);

    .icons {
        margin-left: 21px;
        gap: 24px;
        align-items: center;

        img {
            width: 64px;
            height: 64px;
        }

        div {
            cursor: pointer;
            transition: 0.4s;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: rgba(85, 174, 58, 1);
            width: 72px;
            height: 72px;
        }

        div:hover {
            border-radius: 10%;
            border: 1px solid black;
        }

        div:nth-child(1) img {
            height: 70%;
        }
    }

    .container {
        align-items: center;

        .search-Input {
            align-items: center;

            div {
                position: relative;

                div {
                    width: 46px;
                    height: 46px;
                    left: 15px;
                    top: 50%;
                    transform: translate(0%, -50%);
                    position: absolute;
                    height: 90%;
                    border-right: 1px solid rgb(255, 255, 255);
                    width: 50px;

                    img {
                        width: 80%;
                    }
                }

                input {
                    position: relative;
                    align-items: center;
                    color: rgba(0, 102, 51, 1);
                    font-size: 31px;
                    font-weight: 700;
                    user-select: auto;
                    line-height: 36px;
                    background: rgba(177, 221, 196, 1);
                    width: 849px;
                    height: 80px;
                    padding-left: 74px;
                    border-radius: 44px;
                    border: none;
                }

                input::placeholder {
                    color: rgba(85, 174, 58, 1);
                    font-weight: 400;
                    font-size: 31px;
                    line-height: 36px;
                }

                input:focus {
                    outline: none;
                }
            }
        }

        .select-date {
            margin-left: 14px;
            margin-right: 24px;
            align-items: center;
            position: relative;

            .back-arrows {
                position: absolute;
                left: 14px;
                gap: 10px;
            }

            .next-arrows {
                position: absolute;
                right: 14px;
                gap: 10px;
            }

            input {
                width: 268px;
                height: 62px;
                color: black;
                background: rgba(177, 221, 196, 1);
                border-radius: 36px;
                border: none;
                text-align: center;
            }

            input[type="date"]::-webkit-inner-spin-button,
            input[type="date"]::-webkit-calendar-picker-indicator {
                display: none;
            }

            input::placeholder {
                color: rgba(54, 54, 54, 1);
                font-size: 20px;
                line-height: 22px;
            }

            input:focus {
                outline: none;
            }
        }
    }

    .save {
        width: 72px;
        height: 72px;
        background: rgba(85, 174, 58, 1);
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        margin-right: 25px;
        cursor: pointer;
        transition: 0.7s;

        img {
            width: 60%;
        }
    }

    .save:hover {
        border-radius: 10%;
        border: 1px solid black;
    }
}

//------------------responsive SCSS-----------------

@media screen and (max-width:1550px) {
    .search-bar .container .search-Input div input {
        width: 500px;
        height: 60px;
    }

    .search-bar .container .select-date input {
        width: 220px;
        height: 40px;
    }
}

@media screen and (max-width:1170px) {
    .search-bar .container .search-Input div input {
        width: 450px;
        height: 50px;
    }

    .search-bar .container .search-Input div {

        .search-Icon {
            max-width: 30px;
            left: 10px;
            height: 80%;

            img {
                width: 50%;
            }
        }
    }

    .search-bar {
        justify-content: center;

        .icons {
            display: none;
        }
    }
}

@media screen and (max-width:830px) {
    .search-bar .container .select-date {
        display: none;
    }

    .search-bar {
        height: 40px;

        .save {
            display: none;
        }
    }

    .search-bar .container .search-Input div input {
        padding-left: 45px;
        width: 500px;
        height: 30px;
        font-size: 16px;
    }

    .search-bar .container .search-Input div input::placeholder {
        font-size: 16px;
    }
}

@media screen and (max-width:510px) {
    .search-bar .container .search-Input div input {
        padding-left: 45px;
        width: 100%;
        height: 30px;
        font-size: 16px;
    }
}