<div class="search-bar">

    <div class="icons">

        <div>
            <img src="../../../assets/search-bar/ball.svg" alt="">
        </div>
        <div>
            <img src="../../../assets/search-bar/DET.png" alt="">
        </div>
        <img src="../../../assets/search-bar/Ellipse.png" alt="">

    </div>

    <div class="container">

        <div class="search-Input">

            <div>
                <input type="search" placeholder="Search">

                <div class="search-Icon">
                    <img src="../../../assets/search-bar/Vector.svg" alt="">
                </div>
            </div>

        </div>

        <div class="select-date">

            <div class="back-arrows">

                <div class="back-arrow-group">

                    <img src="../../../assets/search-bar/back-arrow.svg" alt="">
                    <img src="../../../assets/search-bar/back-arrow.svg" alt="">

                </div>

                <img src="../../../assets/search-bar/back-arrow.svg" alt="">

            </div>

            <input type="date" value="2018-07-22" required>

            <div class="next-arrows">

                <img src="../../../assets/search-bar/next-arrow.svg" alt="">

                <div class="next-arrow-group">

                    <img src="../../../assets/search-bar/next-arrow.svg" alt="">
                    <img src="../../../assets/search-bar/next-arrow.svg" alt="">

                </div>

            </div>

        </div>



        <div class="save">

            <img src="../../../assets/search-bar/save.svg" alt="">

        </div>

    </div>

</div>