<div class="responsive-header">

    <div class="flex-container">

        <div class="header">

            <div class="left-icon"> <img src="../../../assets/responsive-profile/user-list.svg" alt="">
            </div>
            <div class="right-icon"> <img src="../../../assets/responsive-profile/other.svg" alt=""></div>

            <img class="profile-img" src="../../../assets/responsive-profile/profile.png" alt="">
        </div>

        <div class="about">

            <h1>Próba Péter</h1>

            <div class="container">

                <div>
                    <div> <img src="../../../assets/responsive-profile/age.svg" alt=""></div>
                    <p>23</p>
                </div>

                <div>
                    <div> <img src="../../../assets/responsive-profile/pen tool.svg" alt=""></div>
                    <p>Iró</p>
                </div>

                <div>
                    <div> <img src="../../../assets/responsive-profile/interest.svg" alt=""></div>
                    <p>Magyar sportok</p>
                </div>

                <button class="follow-button" type="button">követés</button>

            </div>
        </div>
    </div>

    <div class="description">

        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
            atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident. Et
            harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum solutciis debitis aut
            rerum necessitatibus saepe eveniet ndis doloribus asperiores repellat.</p>

        <button class="follow-button" type="button">követés</button>

        <div class="contact">

            <div>
                <img src="../../../assets/responsive-profile/phone.svg" alt="">
                <p>+36/30-12-34-567</p>
            </div>

            <div>
                <img src="../../../assets/responsive-profile/instagramm.svg" alt="">
                <p>https ://instagram.com / probapeter</p>
            </div>

            <div>
                <img src="../../../assets/responsive-profile/mail.svg" alt="">
                <p>probapeter@gmail.com</p>
            </div>

            <div>
                <img src="../../../assets/responsive-profile/twitter.svg" alt="">
                <p>https ://tweeter.com / probapeter</p>
            </div>

            <div>
                <img src="../../../assets/responsive-profile/message.svg" alt="">
                <p></p>
            </div>

            <div>
                <img src="../../../assets/responsive-profile/facebook.svg" alt="">
                <p>https ://facebook.com / probapeter</p>
            </div>
        </div>
    </div>
</div>